body {
    background-color: #f7f3f3;
    color: rgb(0, 0, 0); /*muda a cor de todas as informações da view q não sejam as habilidades*/
  }

  .App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
  }

  .App a {
    color: rgb(0, 0, 0);
  }
  
  input {
    background-color: #ffffff;
    border:3px solid #db0000;
    border-radius: 8px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
  }

  .App h1 img {
    width: 40px;
  }
  
  /*input:focus {
    border-color: #db0000;
    outline: none;
  }*/